.seasonpass-box {
	width: 275px;
	height: 100%;
	top: 0;
	right: 0;
	background-color: rgba(17, 17, 17, 0.70);
	opacity: 0.95 !important;
	color: white;
	position: absolute;
	z-index: 100;
	overflow-y: auto;
	overflow-x: hidden;
}

.body-fullscreen .seasonpass-box {
	overflow-y: auto;
}

/*.seasonpass-box-scroller {
	overflow-y: auto;
	position: relative;
	height: 100%;
	z-index: 100;
}*/

.kubrick-video.span8 .seasonpass-box {
	width: 110px;
}

.seasonpass-box h3 {
	margin: 10px 10px 20px 10px;
	box-shadow: rgba(255,255,255,0.15) 0 1px 0;
}

.seasonpass-video {
	cursor: pointer;
	height: auto;
	padding: 10px !important;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #222;
}

.seasonpass-video-wrapper {
	transition: background-color 0.25s ease-out;
}

.seasonpass-video-wrapper:hover {
	background-color: #9c1616 !important;
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.15));
	color: #fff;
}

.seasonpass-video:hover {
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.0));
}

.seasonpass-video:hover img {
}

.seasonpass-video:hover .part {
}

.seasonpass-video-wrapper.watching {
	background-color: #000;
}

.seasonpass-video img {
	width: 75px !important;
	height: 60px;
	float: left;
	border-radius: 1px;
	box-shadow: 1px 1px 1px #000;
}

.seasonpass-video .episode-info {
	position: relative;
	width: 75px;
	height: 60px;
}

.kubrick-video.span8 .episode-name {
	display: none;
}

.episode-name {
	font-size: 16px;
	font-family: "jubilat","Helvetica Neue","HelveticaNeue",Arial,sans-serif;
	margin-left: 10px;
	padding-top: 5px;
}

.episode-info .part {
	/*left: -44px;
	position: relative;*/
	position: absolute;
	top: 39px;
	left: 3px;
	font-weight: bold;
	text-shadow: 1px 1px 5px #000;
	font-size: 24px;
	width: 70px;
	font-family: "jubilat","Helvetica Neue","HelveticaNeue",Arial,sans-serif;
}

.seasonpass-video .deck {
	width: 75%;
	font-size: 12px;
	margin-left: 10px;
	margin-bottom: 0px !important;
	text-overflow: ellipsis;
}

.kubrick-video.span8 .seasonpass-video .deck {
	display: none;
}

.seasonpass-video .status {
	display: none;
	position: absolute;
	width: 100%;
	font-size: 12px;
	text-align: center;
	background-color: rgba(156, 22, 22, 0.90);
	box-shadow: 0px -1px 1px #000;
}

.seasonpass-video-wrapper.watching .status {
	display: block;
	font-family: "jubilat","Helvetica Neue","HelveticaNeue",Arial,sans-serif;
}

.seasonpass-video.watching .part {
	text-shadow: rgba(0,0,0,0.75) 0 0 10px;
}

.seasonpass-box::-webkit-scrollbar {
    width: 8px;
}

.seasonpass-box::-webkit-scrollbar-track {
	background-color: #111;
    border-radius: 0px;
}

.seasonpass-box::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #333;
}

.guide-hidden {
	display: none;
}